<!-- reviews-index -->
<h1>Reviews</h1>

<a href="/reviews/new">New Review</a>

<div class="row">
    {{#each reviews}}
    <div class="col-sm-4">
        <h2><a href="/reviews/{{ this.id }}">
            {{this.title}}
        </a></h2>
      <p>
          {{this.movieTitle}}
      </p>
      <small>
          {{this.description}}
      </small>
  </div>
    {{/each}}
</div>
