<!-- views/reviews-new.handlebars -->

<form method="POST" action="/movies/{{movieId}}/reviews">
    <legend>New Review</legend>
    {{> reviews-form}}

    <!-- BUTTON -->
    <div class="form-group">
      <button class="btn btn-primary" type="submit">Save Review</button>
    </div>
</form>
