<!-- views/reviews-edit.handlebars -->

<form method="POST" action="/movies/{{review.movieId}}/reviews/{{review._id}}?_method=PUT">
    <legend>Edit Review</legend>
    {{> reviews-form}}
    <!-- BUTTON -->
    <div class="form-group">
      <button class="btn btn-primary" type="submit">
          Save Review
      </button>
    </div>
</form>
