<!-- views/reviews-new.handlebars -->

<!-- <form method="POST" action="/reviews">
    <fieldset>
        <legend>
            New Review
        </legend> -->
            <!-- TITLE -->
        <!-- <p>
            <label for="review-title">
                Title
            </label><br>
            <input id="review-title" type="text" name="title" /><br>
        </p> -->

           <!-- MOVIE TITLE  -->
           <!-- <label for="movie-title">
               Movie-Title
           </label><br>
           <input id="movie-title" name="movieTitle" type="text"/>
        <p> -->
            <!-- DESCRIPTION -->
            <!-- <label for="description">
                Description
            </label><br>
            <input type="text" name="description" type="text"/>
        </p>
    </fieldset> -->

    <form method="POST" action="/reviews">
        {{> reviews-form}}

  <!-- BUTTON -->
  <p>
    <button type="submit">
        Save Review
    </button>
  </p>
</form>
